:root {
    --bg-main: #FFFFFF;
    --bg-dark: #2F303A;
}



body {
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-main);
    color: #212121;
}

/*----Шапка----*/

.nav {
    height: 80px;
    background-color: #ECECEC;
}

.name {
    color: #2196F3;
}

.name-nav {
    color: #000000;;
}

.nav-link {
    color: #212121

}

.nav-link:hover
.nav-link:focus {
    color: #2196F3;
}

.nav-contacts {
    color: #757575;
}

.nav-contacts:hover
.nav-contacts:focus {
    color: #2196F3;
}


/*----Основная чать----*/

.hero {
    height: 600px;
    background-color: #2F303A;
    color: #FFFFFF;
    text-align: center;
}

.hero-discription {
    margin-top: 200px;
}

.hero-button {
    height: 50px;
    width: 200px;
    background-color: #2196F3;
    color: #FFFFFF;
    border-radius: 4px;
    margin: 30px auto 200px auto;
}

/*----Наши достоинства----*/

.dignity-list-title {
    color: #212121;
}

.dignity-list-description {
    color: #757575;
}


/*----Работы----*/



/*----Команда----*/

.team {
    background-color: #F5F4FA; 
}

.team-member {
}

.team-member-post {
    color:#757575
}
