body {
    background-color: #FFFFFF;
    width: 1600px;
}

.nav {
    height: 80px;
    background-color: #ECECEC;
}

.name {
    color: #2196F3;
}

.name-nav {
    color: #000000;;
}

.nav-link {
    color: #212121
}

.nav-link:hover
.nav-link:focus {
    color: #2196F3;
}

.nav-contacts {
    color: #757575;
}

.nav-contacts:hover
.nav-contacts:focus {
    color: #2196F3;
}

.hero {
    height: 600px;
    background-color: #2F303A;
    color: #FFFFFF;
    text-align: center;
}

.hero-discription {
    margin-top: 200px;
}

.hero-button {
    height: 50px;
    width: 200px;
    background-color: #2196F3;
    border-radius: 4px;
    margin: 30px auto 200px auto;
}

